@media screen and (max-width: 1200px) {
    .desktop-nav {
        display: none;
    }
    .hamburger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    }
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}

@-webkit-keyframes color {
    0% {
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    } 
}

/* Timeline responsiivisuus pienille näytöille*/

@media (max-width: 768px) {
    .timeline {
        width: 90%;
    }
    .timeline-content {
        margin-left: 50px;
        font-size: 14px;
    }
    .timeline::after {
        left: 30px;
    }

    .dot {
        left: 30px;
        transform: translateX(-35%);
    }
    
    .login{
       width: 90%; 
    }
}