* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
}


html {
    font-size: 60%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}



body {
    font-family: 'Fira Mono', monospace;
    color: #191219;
    height: 100vh;
    width: 100%;
    font-weight: 400;
    background: linear-gradient(45deg,#ede0d6,#f8dada,#fccba1);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}

h1, h2, h3, h4 {
font-family:'Fira Mono', monospace;
font-weight: 500;
}


#login {
    background: rgba(255, 255, 255, 0.889);
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 20px;
}

#login h3 {
    margin-bottom: 30px;
}

#content {
display: none; /*Piilossa kunnes salasana on oikein*/
padding: 20px; /* Normaalit sisällön asetukset*/
}

input, button { 
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    background: #e9e9e9;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background: #524151;
    align-content: center;
    color: white;
    width: 20%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
background: #fcdbc6;
}

.err {
    color: red;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}

.header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    z-index: 1000;
}

a{
color: var(--link-color);
text-decoration: none;

}

 /*DESKTOP NAV*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17vh;
  padding: 0 2rem;
}

.nav-links {
   display: flex;
    gap: 2rem;
   list-style: none;
   font-size: 1.5rem;
   width: auto;
   padding: 0;
   margin: 0;
}
.nav-links li{
    width: auto;
    text-align:center;
    justify-content: space-between;
    padding: 2rem;
}


.nav-links a {
    color: rgb(41, 41, 41);
    text-decoration: none;
    text-decoration-color: white;
    padding: 1rem;
}

.nav-links a:hover{
        color: rgb(158, 59, 167);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size: 3rem;
    font-weight: 400;
    font-family: "Caprasimo", serif;
    font-style: normal;
    
    position: fixed;   /* Kiinnittää logon paikalleen ruudulle */
    top: 60px;         /* Etäisyys yläreunasta */
    left: 20px;        /* Etäisyys vasemmalta reunalta */
    z-index: 1000;
    
}


.logo:hover {
    cursor: pointer;

}



.desktop-nav {
    align-content: flex-end;
}

.hamburger-nav {
    display: none;
}

.hamburger-menu{
    position:relative;
    display: inline-block;
}

.hamburger-icon{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 24px;
   width: 30px;
   cursor: pointer; 
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(94, 92, 92);
    transition: all 0.3s ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255, 0.5);
    width: 200px;
    border-radius: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5rem;
    color:rgb(94, 92, 92);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}

.menu-links a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* hover-efekti */
border-radius: 8px;
}
/* tämä ottaa pois bulletpointit*/
.menu-links li {
    list-style: none;
    padding: 10px;
}

.menu-links.open {
    max-height: 300px;

}

/* Hamburger ikoni*/
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);

}

.hamburger-icon.open span:nth-child(2){
   opacity: 0; 

}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);

}

.hamburger-icon span:first-child{
    transform: none;

}

.hamburger-icon span:first-child{
    opacity: 1;

}


.hamburger-icon span:first-child{
    transform: none;

}

/* Kappaleiden ja tekstin muotoilu*/

/* About me/ minusta kohta*/


.skills-list {
list-style: disc;
margin-left: 1.5em;;
}

.section {
    background-color:  rgb(252, 248, 245);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}



.section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 50px;
    font-size: clamp(16px, 3vw, 32px);
    
}

.section1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 80px 50px;
    font-size: 5rem;
    text-align: center;
    cursor: default;
    
}

.title-start {
    font-family: "Caprasimo", serif !important;
    font-size: clamp(120px, 3vw, 200px);
}

.introduction-title {
    font-size: clamp(16px, 3vw, 25px);
    padding-top: 5vh;
}