* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
}


html {
    font-size: 60%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#fcdbc6,#ffb7b7,#fc82f6);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}


@keyframes color {
    0% {
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;

}

a{
color: var(--link-color);
text-decoration: none;

}

 /*DESKTOP NAV*/

nav,
.nav-links {
  display: flex;
  align-items: center;
}

nav {
justify-content: space-around;
align-items: center;
height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    width: 50%;
    align-content: center;
}
.nav-links li{
    width: 25%;
    text-align: center;
}


a{
    color: rgb(41, 41, 41);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
        color: rgb(179, 75, 75);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size: 3rem;
    font-weight: 600;
    align-items: center;
    margin-left: 2px;
    width: 50%;
    padding-left: 10%;
}

.logo:hover{
    cursor: default;
}

.desktop-nav {
    display: flex;
}

.hamburger-nav {
    display: none;
}

.hamburger-menu{
    position:relative;
    display: inline-block;
}

.hamburger-icon{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 24px;
   width: 30px;
   cursor: pointer; 
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(94, 92, 92);
    transition: all 0.3s ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255, 0.5);
    width: 200px;
    border-radius: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5rem;
    color:rgb(94, 92, 92);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}

.menu-links a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* hover-efekti */
border-radius: 8px;
}
/* tämä ottaa pois bulletpointit*/
.menu-links li {
    list-style: none;
    padding: 10px;
}

.menu-links.open {
    max-height: 300px;

}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);

}

.hamburger-icon.open span:nth-child(2){
   opacity: 0; 

}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);

}

.hamburger-icon span:first-child{
    transform: none;

}

.hamburger-icon span:first-child{
    opacity: 1;

}


.hamburger-icon span:first-child{
    transform: none;

}